<div class="layout-topbar layout-topbar-sticky">


    <div class="bg-inherit ">
        <div class="py-4 px-6 lg:px-20 flex justify-between items-center flex-wrap">
            <div class="font-bold">Daje</div>
            <div class="inline-flex gap-1 items-center">
                <span class="hidden lg:flex leading-normal">The most reliable and flexible software solution for the service industry, ensuring seamless operations and adaptable features to meet diverse business needs.</span>
                <a class="underline font-bold" href="#">Learn More</a>
            </div>
            <p-button label="Log in" icon="pi pi-user" routerLink="/login" />
        </div>
    </div>


</div>